<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Join Team</title>
</head>
<body>

<h1>Invitation request was successfully processed.</h1>

<div>
    Please check your mailbox after few minutes.
</div>

<a href="{{ slack_url }}">open slack site</a>

</body>
</html>