{% extends "layout.twig" %}
{% block content %}
    <h2>Invitation request was successfully processed.</h2>

    <hr>

    <div>
        Please check your mailbox after few minutes.
    </div>
{% endblock %}
